// http://nicolasgallagher.com/micro-clearfix-hack/
%clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

// hide visually and from screen readers
%hidden {
  display: none;
}

// visually hide - still available to screen readers
// Updated: https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden
// Formerly: https://github.com/h5bp/html5-boilerplate/issues/194/
// Formerly: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
%hidden-visually:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Force word wrapping - useful for long URLs
// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
// sass-lint:disable no-misspelled-properties
%word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
