// Not rendered to CSS
@import 'variables';
@import 'mixins';
@import 'extends';

// Rendered to CSS
@import 'vendor/normalize/normalize';
@import 'resets';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0 auto;
  padding: 1em 4em;
}

h1,
p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
}

h1 {
  color: $gray;
}

p {
  font-size: 9vw;
}
